{
  "development": {
    "username": ,
    "password": ,
    "database": "report",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": ,
    "password": ,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": ,
    "password": ,
    "database": ,
    "host": ,
    "dialect": "mysql"
  }
}